body {
  /*background-image: url("../images/bg_noise.png"); */
  background-color: #f9f9f7; 
}

body > .container {
  background-color: #fff;
  min-height: 650px;
  border: 1px solid #e0e0df;
  margin: 50px auto;
  /*box-shadow: 0 1px 8px rgba(0, 0, 0, .15);*/
}
.container {
  max-width: 940px;
  width: inherit;
  padding: 0;
}
/* Carousel base class */
.carousel {
  margin-bottom: 60px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -90px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 10%;
}
.carousel .item {
  height: 500px;
  background-color: #333;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  margin: 0 auto;
}
.carousel-inner > .item > .kid {
  background-color: #fff;
  left:5%;
}
.carousel-caption {
	right: 10%;
	left: 50%;
  padding-bottom: 30px;
}
.aboutDaya{
  margin: 50px;
}
#buttonFrame {
  width: 100%;
  background: #FFFFFF;
  padding: 0px;
  border-top: 1px solid #00102A;
  border-bottom: 1px solid #00102A;
}
.buttonContainer{
  margin:0px auto;
}
.buttonLayer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.buttonLayer{
  list-style:none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.buttonLabel{
  width:230px;
  float:left;
}
.news{
  width: 300px;
  float:right;
}
#buttonFrame ul{
  padding:0 40px;
}
#buttonFrame ul li a {
  display: block;
  text-align: left;
  background: #000;
  border: 1px solid #000;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
  color: #FFFFFF;
  }
#buttonFrame ul li a#member {
  padding: 10px 30px;
  text-align: center;
}
#buttonFrame ul li a#subscribe {
  padding: 10px 30px;
  text-align: center;
}